/*All item style */

/*====================
QUALITY ==============
======================*/

.item-quality-poor
{
    color: #9D9D9D;
}

.item-quality-common
{
    color: #000;
}

.item-quality-uncommon
{
    color: ##1EFF00;
}

.item-quality-rare
{
    color: #0070FF;
}

.item-quality-epic
{
    color: #A335EE;
}

.item-quality-legendary
{
    color: #FF8000;
}

.item-quality-artefact
{
    color: #E6CC80;
}